---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-core-api
spec:
  selector:
    app: core-api
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}










