image:
  repository: ghcr.io/csu-itmo-2025-2/team1-frontend
  tag: sha-c262c1a
  pullPolicy: Always
replicaCount: 2
resources:
  requests:
    cpu: "100m"
    memory: "256Mi"
  limits:
    cpu: "100m"
    memory: "256Mi"
configMap:
  name: ""
secret:
  name: ""
service:
  port: 8501
  targetPort: 8501
rbac:
  enabled: false
probes:
  liveness:
    httpGet:
      path: /
      port: 8501
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3
  readiness:
    httpGet:
      path: /
      port: 8501
    initialDelaySeconds: 10
    periodSeconds: 5
    timeoutSeconds: 3
    failureThreshold: 3