image:
  repository: ghcr.io/csu-itmo-2025-2/team1-core-api
  tag: sha-eac743d
  pullPolicy: Always
replicaCount: 2
resources:
  requests:
    cpu: "300m"
    memory: "512Mi"
  limits:
    cpu: "300m"
    memory: "512Mi"
configMap:
  name: ""
secret:
  name: ""
service:
  port: 8000
  targetPort: 8000
rbac:
  enabled: false
probes:
  liveness:
    httpGet:
      path: /health
      port: 8000
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3
  readiness:
    httpGet:
      path: /health
      port: 8000
    initialDelaySeconds: 10
    periodSeconds: 5
    timeoutSeconds: 3
    failureThreshold: 3
istio:
  enabled: true
  circuitBreaker:
    maxConnections: 100
    connectTimeout: "30s"
    maxPendingRequests: 10
    maxRequests: 100
    maxRequestsPerConnection: 2
    maxRetries: 3
    idleTimeout: "90s"
    consecutiveErrors: 5
    interval: "30s"
    baseEjectionTime: "30s"
    maxEjectionPercent: 50
    minHealthPercent: 50
    splitExternalLocalOriginErrors: false
