image: rabbitmq:3.13-management-alpine
username: guest
vhost: "/"
port: 5672
uiPort: 15672

replicaCount: 1

resources:
  requests:
    cpu: "200m"
    memory: "512Mi"
  limits:
    cpu: "200m"
    memory: "512Mi"

configMap:
  name: ""

secret:
  name: ""

rbac:
  enabled: false

probes:
  liveness:
    tcpSocket:
      port: 5672
    initialDelaySeconds: 30
    periodSeconds: 30
    timeoutSeconds: 5
    failureThreshold: 3
  readiness:
    tcpSocket:
      port: 5672
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 3
    failureThreshold: 3


