image:
  repository: erofeevdma/aith-team1-question-generation-service
  tag: latest
  pullPolicy: Always

replicaCount: 3

resources:
  requests:
    cpu: "10m"
    memory: "150Mi"
  limits:
    cpu: "200m"
    memory: "300Mi"

configMap:
  name: ""

secret:
  name: ""

rbac:
  enabled: false

autoscaling:
  enabled: true
  minReplicaCount: 1
  maxReplicaCount: 5
  queueName: "question_generation_queue"
  queueLength: 10
  rabbitmqHost: ""

probes:
  liveness:
    exec:
      command:
        - /bin/sh
        - -c
        - "pgrep -f python || test -f /proc/1/cmdline"
    initialDelaySeconds: 60
    periodSeconds: 30
    timeoutSeconds: 10
    failureThreshold: 3
  readiness:
    exec:
      command:
        - /bin/sh
        - -c
        - "pgrep -f python || test -f /proc/1/cmdline"
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3

